
/* ------- color set -----------*/
$primary-background: #464C51;
$seconday-background: #30343855;

$primary-button: #00000035;
$seconday-button: #D1D4DE;

$primary-text: white;
$seconday-text: #373C40;


/* -------------------------- */




.App {
  background-color: $primary-background;
}

