
.top-nav-container {
  display: flex;
  justify-content: center;
  height: 10vh;
  

  .top-nav-button-container {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0.5em;
    gap: 0.5em;
    border-radius: 0 0 12px 12px;
    background-color: var(--secondary-background);


    .top-nav-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;

      width: fit-content;
      height: 40px;
      padding: 0 1.5em;
      color: var(--primary-text);
      background-color: var(--primary-button);
      border-radius: 12px;

      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.5px;

      transition: 0.25s;

      &:hover {
        position: relative;
        background-color: var(--secondary-button);
        color: var(--secondary-text);
        transition: 0.25s;
        cursor: pointer;
      }

      .icon {
        margin-right: 0.5em;
        font-size: large;
      }
    }
  }
}