


.view-list-item-container {
  flex: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  margin: 0 2.5vw;
  background-color: var(--primary-background);
  
  scroll-snap-align: start;

  &:first-child {
    margin-left: 10vw;
  }
  // &:last-child {
  //   margin-right: 5vw;
  // }

  .view-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }
}