.bottom-nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 10%;
  color: var(--primary-text);

  top: 0px;
  animation: slideUp 0.5s;
  animation-fill-mode: forwards;

  .img-info-wrapper {

    .img-location {
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    .img-details-wrapper {
      display: flex;


      .img-details {
        margin-right: 3.5em;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .utility-button-wrapper {
    display: flex;
    

    .utility-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      top: 0px;

      width: fit-content;
      height: 40px;
      padding: 0 1.5em;
      margin: 0 0.5em;
      color: var(--primary-text);
      background-color: var(--primary-button);
      border-radius: 12px;

      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.5px;
      
      transition: 0.25s;

      &:hover {
        position: relative;
        background-color: var(--secondary-button);
        color: var(--secondary-text);
        top: -3px;
        transition: 0.25s;
        cursor: pointer;
      }

      .icon {
        margin-right: 0.5em;
        font-size: large;
      }
    }
  }
}

.hideNav {
  position: relative;
  animation: slideDown 1s;
  animation-fill-mode: forwards;
}


// local animation

@keyframes slideDown {
  from {
    top: 0px;
  }
  to {
    top: 10vh;
  }
}

@keyframes slideUp {
  from {
    top: 10vh;
  }
  to {
    top: 0px;
  }
}