.view-list-item-container {
  flex: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 0px;
  height: 90vh;
  width: 80vw;
  margin: 10vh 2.5vw 0 2.5vw;
  background-color: var(--primary-background);

  overflow-y: hidden;
  scroll-snap-align: start;

  transition: 0.75s;

  &:first-child {
    margin-left: 10vw;
  }

  .view-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;

    transition: 0.75s;

    img {
      height: 100%;
      width: 100%;
      object-fit:cover;
      border-radius: 24px;

      transition: 0.75s;
    }
  }
}

.imageZoom {
  position: relative;
  top: 0px;
  left: -7.5vw;
  border-radius: 0px;
  height: 110vh;
  width: 100vw;
  margin: 0px;

  transition: 1s;
  
  &:first-child {
    margin-left: 0px;
    left: 0vw;
  }

  .view-img-container {
    height: 100%;
    transition: 1s;

    img {
      border-radius: 0px;
      transition: 1s;
    }
  }
}

// push previous child element to the left to create spreading effect 
.child-offset {
  left: -10vw;
}

//style to identify target 
.image-out-focus {
  .view-img-container {
    img {
      filter: grayscale(1.2) blur(3px);
      scale: 0.94;
      transition: 0.75s;
    
      &:hover {
        scale: 1;
        cursor: pointer;
      }
    }
  }
}


// local animation 

// @keyframes imageZoomIn {
//   to {
//     top: 0px;
//     border-radius: 0px;
//     height: 100vh;
//     width: 100vw;
//     transition: 1s;
//     margin: 0px;
//     transition: 1s;
//   }
// }

// @keyframes imageZoomOut {
//   to {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     border-radius: 24px;
//   }
// }